<h1>Aquarium Life!!</h1>
<% @aquaria.each do |aquarium|%>
<th></th>
    <tr>
<%= aquarium.owner%>'s aquatic environment.
    <br>
Size: <%= aquarium.size%> 
<%= button_to aquarium.owner+"'s Tank", aquarium_path(aquarium), method: :get%>
    </tr><br>
    
<%end%>
<div>
<%= button_to "Create a New Aquarium", new_aquarium_path, method: :get%>
</div>