<h1>Aquarium Life!!</h1>
<% @aquaria.each do |aquarium|%>
<th style="background:whitesmoke;"></th>
    <tr>
    <p class="owner-label"> 
    <%= aquarium.owner%>'s aquatic environment.
    </p>
    <div>
Size: <%= aquarium.size%> 
<%= button_to aquarium.owner+"'s Tank", aquarium_path(aquarium), method: :get%>
    </tr>
    </div>
<%end%>
<div>
<%= button_to "Create a New Aquarium", new_aquarium_path, method: :get%>
</div> 