// Place all the styles related to the aquaria controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'bulma/bulma';




.bg {
    background-image: url("https://omicron.aeon.co/images/18d01286-fb24-42cd-9ca3-e5488c4c4f7c/idea_sized-Girish-518022620_96b384459f_o.jpg");
    background-repeat: no-repeat, repeat;
     background-size: cover;
    background-color: whitesmoke;
  }